# Ignore raw data and results
data/*
!data/README.md
results/*

# Ignore Snakemake working dirs
.snakemake/
workflow/.snakemake/

# Ignore temporary FASTQ files
*.fastq.gz

# Ignore caches
__pycache__/
.ipynb_checkpoints/

# Ignore virtual envs
.venv/
.env

# Reference files
reference/*
!reference/README.md

# Alignment outputs
results/alignment/*
!results/alignment/README.md

# Config file
!config.yaml
